@import url(./__list/photo-grid__list.css);
@import url(./__item/photo-grid__item.css);
@import url(./__image/photo-grid__image.css);

.photo-grid{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}