.place__image{
    min-width: 460px;
    min-height: 460px;
    width: 100%;
    grid-area: image;
    object-fit: cover;
}

@media screen and (max-width: 1024px){
    .place__image{
        min-height: 440px;
        min-width: 440px;
    }
}

@media screen and (max-width: 768px){
    .place__image{
        min-height: 340px;
        min-width: 340px;
    }
}

@media screen and (max-width: 568px){
    .place__image{
        min-height: 320px;
        min-width: 320px;
        margin: 0 auto;
    }
}