.place__image{
    max-width: 460px;
    width: 100%;
    grid-area: image;
}

@media screen and (max-width: 1024px){
    .photo-grid__image{
        min-height: 440px;
    }
}

@media screen and (max-width: 768px){
    .photo-grid__image{
        min-height: 340px;
    }
}
