@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__span-accent/intro__span-accent.css);

.intro{
    color: #FFFFFF;
    max-width: 690px;
    margin: 0 0 92px 148px;
}

@media screen and (max-width: 1024px){
    .intro{
        margin: 0 0 92px 48px;
    }
}

@media screen and (max-width: 768px){
    .intro{
        width: calc(100% - 48px);
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 425px){
    .intro{
        width: calc(100% - 32px);
        margin: 0 auto 64px;
    }
}