@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__span-accent/intro__span-accent.css);

.intro{
    color: #FFFFFF;
    width: 53.9%;
    margin: 0 0 92px 148px;
}