@import url(./__overlay/cover__overlay.css);
@import url(./__overlay-link/cover__overlay-link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);

.cover{
    max-width: 1184px;
    max-height: 740px;
    width: calc(100% - 96px);
    height: calc((100vw - 96px)/1.6);
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px){
    .cover{
        width: 100%;
        height: calc(100vw/1.6);
    }
}

@media screen and (max-width: 768px){
    .cover{
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px){
    .cover{
        margin-bottom: 64px;
    }
}