@import url(./__overlay/cover__overlay.css);
@import url(./__overlay-link/cover__overlay-link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);

.cover{
    display: flex;
    position: relative;
    flex-direction: column;
    color: #FFFFFF;
    width: calc(100% - 96px);
    min-height: 740px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px){
    .cover{
        min-height: 640px;
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .cover{
        min-height: 480px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px){
    .cover{
        min-height: 200px;
        margin-bottom: 64px;
    }
}