.place__website{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    grid-area: website;
}

@media screen and (max-width: 568px){
    .place__website{
        display: none;
    }
}